{{! A simple homepage displaying movies }}
<h1>Welcome to My IMDB-like Site</h1>

<div>
    {{#each movies}}
        <div>
            <h2>{{this.name}}</h2>
            <img src="{{this.image}}" alt="{{this.name}}" style="width: 200px;" />
            <p>{{this.description}}</p>
            <a href="/movies/{{this._id}}/details">View Details</a>
        </div>
        <hr/>
    {{/each}}
</div>
